#company-details-view {
  .page-content {
    .right-page-content {
      .company-details {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: var(--details-form-row-gap) var(--details-form-column-gap);
      }
    }
  }
}

